<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/employee_registration.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <div class="container-fluid" style="display: flexbox;">

        <div class="row">
            <div class="col-1">
                <div class="topnav" id="myTopnav">
                    <a href="#" class="menu">
                        <i data-feather="home"></i>
                        <p class="menu-identify">Home</p>
                    </a>
                    <a href="#" class="menu">
                        <i data-feather="users"></i>
                        <p class="menu-identify">Contacts</p>
                    </a>
                    <a href="#" class="menu">
                        <i data-feather="pie-chart"></i>
                        <p class="menu-identify">Dashboard</p>
                    </a>
                    <a href="#" class="active menu">
                        <i data-feather="user-plus"></i>
                        <p class="menu-identify">Registration</p>
                    </a>

                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i data-feather="menu"></i>
                    </a>
                </div>

            </div>
            <div class="col-11">
                <div class="form-group text-center">
                    <h1>Preencha os Dados</h1>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group  text-end">
                            <button type="submit" class="btn btn-success btn-sm">Funcionário</button>
                        </div>
                    </div>        
                    <div class="col-6">
                        <div class="form-group  text-center">
                            <button type="submit" class="btn btn-success btn-sm">Cliente</button>
                        </div>
                    </div>  
                </div>    
                <div class="form-group">
                    <input type="text" class="form-control"  id="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group"> 
                    <input type="password" class="form-control" id="senha" placeholder="Senha">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="cpf" placeholder="CPF">
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="form-group  text-center">
                            <h5>Registrar-se como</h5>
                        </div>
                    </div>        
                    <div class="col-2">
                        <div class="form-group  ">
                            <button type="submit" class="btn btn-success btn-sm">Sales</button>
                        </div>
                    </div>        
                    <div class="col-4">
                        <div class="form-group text-center ">
                            <button type="submit" class="btn btn-success btn-sm">Diretoria</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group ">
                            <button type="submit" class="btn btn-success btn-sm">Administrador</button>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>    
            </div>

        </div>
    </div>





        <script>
            feather.replace()
        </script>
        <script src="../static/js/navbar.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
</body>

</html>