<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="column-left">
                <h2 class="title title--left">Welcome</h2>
                <p class="description">Forget spreadsheets<br>The best way to organize</p>
            </div> <!--column-left-->
            <div class="column-right">
                <h2 class="title title-right title--gradient">Login</h2>
                <form class="form">
                    <input type="email" placeholder="E-mail">
                    <input type="password" placeholder="Password">
                    <a href="#" class="forgot-password">Forgot your password?</a>
                    <button class="btn">Sign in</button>
                </form>
            </div> <!-- column-right -->
        </div>
    </div>
</body>
</html>