{% extends "base.html" %}
    {% block title %}Employee Register{% endblock %}

{% block content %}

    <div class="container" style="display: flex;">
        <div class="form">

            <form class="cliente">
                <div class="btns">
                    <button class="btn">Client</button>
                    <button class="btn active">Employee</button>
                </div>
                <input type="name" placeholder="Name">
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Password">
                <input type="number" placeholder="CPF">
                <button>Register</button>
            </form>

        </div>
    </div>
{% endblock %}