*::-webkit-scrollbar {
    width: 0px;
  }

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
}

.direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.direita .formulario-kanban{
    justify-content: flex-end;
}

.btn--nova-proposta{
    margin-left: -587px;
    position: fixed;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    background: linear-gradient(135deg, #568BDA, #4FE1AD);
    border: 1px solid ;

}

.tabela{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.tabela__coluna{
    width: 200px;
}

.coluna__titulo {
    width: 200px;
    color: #fff;
    text-align: center;
}

.titulo-da-proposta{
    color: black;
}

.ttle{
display: flex;
justify-content: space-between;
padding-right: 5px;
}

.coluna__titulo--novas-propostas{
    background: #297dcb;
}

.coluna__titulo--primeiro-contato{
    background: #48C1BC;
}

.coluna__titulo--proposta-fechada{
    background: #E1B84F;
}

.coluna__titulo--projeto-em-andamento{
    background: #4FADE1;
}

.coluna__propostas{
    max-height: 260px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.card-pipeline{
    font-size: 14px;
    border: solid 1px;
    margin: 5px;
}

.prioridade--alta{
    background: red;
}
.prioridade--media{
    background: yellow;
}
.prioridade--baixa{
    background: green;
}

.formulario-kanban {
    display: flex;
    justify-content: center;
}

.formulario-kanban__proposta {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.opcoes-radio{
    display: flex;
    justify-content: space-around;
}

.opcoes-radio--coluna{}

.opcoes-radio--nivel-de-prioridade{
    border-left: solid 1px;
    padding-left: 5px;
}

.background-formulario{
    background: rgba(0, 0, 0, 0.568);
    width: 100%;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.formulario--oculto{
    display: none;
}

.formulario--ativado{
    display: flex;
}

.formulario__nova-proposta{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: calc(100vh - 50px);
    width: 50%;
}

.formulario__nova-proposta--primeira-parte{}

.formulario__nova-proposta--segunda-parte{}

.formulario__nova-proposta--terceira-parte{}

.formulario__nova-proposta--quarta-parte{}

.formulario__nova-proposta--quinta-parte{}

.formulario__nova-proposta__botoes{}

@media screen and (max-width: 600px){
    body{
        display: block;
    }
    }
