body{
    display: flex;
}
.direita{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
}
.linha-titulo{
    display: flex;
    justify-content: space-around;
    color: #3C3C3C;
    
}
.grandona{
    width: 95%;
    height: 530px;
    border: solid 1px;
    border-radius: 20px;
    color: #3C3C3C;
    padding-left: 10px;
    padding-right: 10px;
    

}
.categoria{
    font-size: 15px;
    font-weight: 550;
    color: #3C3C3C;
    display: flex;
    justify-content: space-around;
}
.informacao{
   
    width: 200px;
    height: 50px;
    margin-top: 10px;
}
.titulo{
    width: 200px;
    color: #3C3C3C;
    height: 26px;
    margin-top: 10px;

}
.contatos{
    width: 93%;
    font-size: 10px;
    color: #3C3C3C;

}
.botao{
    width: 90%;
    margin-top: 20px;
    margin-bottom:;
    

}
.btn-novo-contato{
    border-radius: 3px;
    background: #48C1BC;
    border: 5px;
    height: 30px;
    width: 150px;

}