.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.btn{
    cursor: pointer;
}

.cliente{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 50%;
    justify-content: space-between;
}

.active{
    background-color: cyan;
}

button{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    background: linear-gradient(135deg, #568BDA, #4FE1AD);
    border: 1px solid ;
}

button.active{
    border: 3px solid;
    border-color: rgb(211, 211, 211);
}

.cliente input{
    height: 45px;
    border: none;
    background: #ecf0f1;
    padding-left: 10px;
}