*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.direita--superior{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.direita--inferior{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grafico{
    width: 30%;
}
.superior--leads{
    text-align: center;
}
.inferior--leads{
    text-align: center;
}
.d-titulo{
    font-size: 30px;
}
.d-total{
    font-size: 50px;
}