@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7eceb;
    font-family: 'Open Sans', sans-serif;
}

.containerl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contentl{
    background: #fff;
    border-radius: 15px;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contentl::before{
    content: "";
    position: absolute;
    background: linear-gradient(#4fe1ad, #568bda);
    width: 40%;
    height: 100%;
}

.titlel{
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.title--leftl{
    color: #fff;
}

.descriptionl{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
}

.column-leftl{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.column-rightl{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.btnl{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    background: linear-gradient(135deg, #568BDA, #4FE1AD);
    border: 1px solid;
}

.btnl:hover{
    background: transparent;
    color: #58af9b;
}

.forml input{
    height: 45px;
    border: none;
    background: #ecf0f1;
    margin: 8px;
}

.forgot-passwordl{
    align-self: center;
    font-size: small;
    text-decoration: none;
    color: #b1b1b1;
    line-height: 23px;
}

.forgot-passwordl:hover{
    text-decoration: underline;
}

.title--gradientl {
    background-image: linear-gradient(to bottom, #4FE1AD, #568BDA);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
  }

.hidden{
    display: none;
}

a{
    text-decoration: none;
}