{% extends "base.html" %}
    {% block title %}Clinic Register{% endblock %}

{% block content %}
        <div class="form">
            <h1>Registrar Estabelecimento</h1>

            <form class="cliente" method="POST">
                {% csrf_token %}

                {{ form.as_table }}

                <br>

                <div class="formulario__nova-proposta__botoes">
                    <div class="botoes--cancelar-cadastrar">
                    <a href="{% url 'Contacts' %}">
                <div class="btn--cancelar">Cancelar </div>
                        </a>
                <button type="submit" class="cadastrar">Cadastrar</button>
                    </div>
            </form>
        </div>


{% endblock %}