{% extends "base.html" %}

{% block title %}Contacts{% endblock %}
{% load static %}
{% block content %}

<div class="contatos">
    <h1>Contatos</h1>
    <i data-feather="mail" class="menu__icon" onclick="email()"></i>
</div>


<div class="grandona">


    <table class="conteudo-contatos">
        <tr class="categoria">
            <td class="informacao">Cliente</td>
            <td class="informacao">Telefone</td>
            <td class="informacao">Whatsapp</td>
            <td class="informacao">E-mail</td>
            <td>
                <p></p>
            </td>
        </tr>
        {% for contact in contacts %}
        <tr class="categoria">

            <td class="informacao">
                <div class="nome-da-empresa">
                    <p><a href="{% url 'AtualizaMedico' contact.id %}">{{contact.nome}}</a></p>
                </div>
                <p>{{contact.espec}}</p>
                <br>
            </td>

            <td class="informacao">
                <p>{{contact.numero_fixo}}</p>
                <br>
            </td>

            <td class="informacao">
                <p>{{contact.whatsapp}}</p>
                <br>
            </td>
            <td class="informacao">
                <a class="email" href="mailto:{{contact.email}}" id="emailProfissional">{{contact.email}}</a>
                <br>
            </td>
            <td class="informacao" style="width: min-content;">
                <a class="titulo-da-proposta" href="{% url 'DeletaMedico' contact.id %}">
                    <i data-feather="trash-2" class="menu__icon" style="height: 15px;"></i>
                </a>
            </td>


        </tr>


        {% endfor %}
        {% for clinica in clinica %}
        <tr class="categoria">

            <td class="informacao">
                <div class="nome-da-empresa">
                    <a href="{% url 'AtualizaClinic' clinica.id %}">{{clinica.razao}}</a>
                </div>
                <p>{{clinica.categoria}}</p>
                <br>
            </td>

            <td class="informacao">
                <p>{{clinica.numero}}</p>
                <br>
            </td>

            <td class="informacao">
                <p>-</p>
                <br>
            </td>

            <td class="informacao">
                <a class="email" href="mailto:{{clinica.email}}" id="emailClinica">{{clinica.email}}</a>
                <br>
            </td>
            <td class="informacao" style="width: min-content;">
                <a class="titulo-da-proposta" href="{% url 'DeletaClinic' clinica.id %}">
                    <i data-feather="trash-2" class="menu__icon" style="height: 15px;"></i>
                </a>
            </td>

        </tr>


        {% endfor %}
    </table>
</div>
{% if user.cargo.cargo == "Administrador" or user.cargo.cargo == "Diretor" %}
<div class="botn">
<div id="btnExport" class="btn--nova-proposta" style="margin-top: 15px;">
    Exportar CSV
</div>
<label style="margin-top: 15px;" for='selecao-arquivo'>Importar Contatos</label>
<input id='selecao-arquivo' type='file'>
</div>
{% endif %}
<div class="hidden" id="dvData">
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Especialidade</th>
                <th>Telefone</th>
                <th>Whatsapp</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                
                <td>{{contact.nome}}</td>
                <td>{{contact.espec}}</td>
                <td>{{contact.numero_fixo}}</td>
                <td>{{contact.whatsapp}}</td>
                <td>{{contact.email}}</td>
                
            </tr>
            {% endfor %}
            {% for clinica in clinica %}
            <tr>
                
                <td>{{clinica.razao}}</td>
                <td>{{clinica.categoria}}</td>
                <td>{{clinica.numero}}</td>
                <td></td>
                <td>{{clinica.email}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $("#btnExport").click(function (e) {
        window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
        e.preventDefault();
    });
</script>

{% endblock %}