{% extends "base.html" %}

    {% block title %}Dashboard{% endblock %}

{% load static %}

{% block content %}            
<div class="direita-div">
    <div class="info" id="info">
        <p>Total de Leads</p>
        <h1 id="leads-info">{{leads}}</h1>
    </div>
    <div id="superior--primeiro-grafico"></div>
    <div id="superior--segundo-grafico"></div>
</div>
<div class="direita-div">
    <div class="info" id="info">
        <p>Novos</p>
        <h1 id="novos">{{oport}}</h1>
    </div>
    <div id="inferior--primeiro-grafico"></div>
    <div id="inferior--segundo-grafico"></div>
</div>


<div class="hidden">
    <div id="coluna1">{{oport}}</div>
    <div id="coluna2">{{open}}</div>
    <div id="coluna3">{{pendent}}</div>
    <div id="coluna4">{{closed}}</div>

    <div id="nMonitor">{{nmonitor}}</div>
    <div id="nSensor">{{nsensor}}</div>
    <div id="nCommand">{{ncommand}}</div>
    <div id="nEcho">{{necho}}</div>
    <div id="nReport">{{nreport}}</div>
    <div id="Iara">{{iara}}</div>

    <div id="preco1">{{preco1.valor_total}}</div>
    <div id="preco2">{{preco2.valor_total}}</div>
    <div id="preco3">{{preco3.valor_total}}</div>
    <div id="preco4">{{preco4.valor_total}}</div>

    <div id="nomepreco1"></div>
    <div id="nomepreco2"></div>
    <div id="nomepreco3"></div>
    <div id="nomepreco4"></div>
</div>

{% endblock %}