{% extends "base.html" %}

    {% block title %}Dashboard{% endblock %}

{% load static %}

{% block content %}            
<div class="direita-superior">
    <div id="superior--primeiro-grafico"></div>
    <div id="superior--segundo-grafico"></div>
</div>
<div class="direita-superior">
    
</div>


<div class="hidden">
    <div id="coluna1">{{oport}}</div>
    <div id="coluna2">{{open}}</div>
    <div id="coluna3">{{pendent}}</div>
    <div id="coluna4">{{closed}}</div>

    <div id="nMonitor">{{nmonitor}}</div>
    <div id="nSensor">{{nsensor}}</div>
    <div id="nCommand">{{ncommand}}</div>
    <div id="nEcho">{{necho}}</div>
    <div id="nReport">{{nreport}}</div>
    <div id="Iara">{{iara}}</div>
</div>

{% endblock %}