{% extends "base.html" %}
    {% block title %}Delete Contato{% endblock %}
{% load static %}
{% block content %}
<div class="deleta">
<form class="cliente" action="{% url 'DeletaClinic' delclinic.id%}" method="POST">
    {% csrf_token %}
    <h2>Deseja mesmo deletar esse contato? "{{delclinic.razao}}" ?</h2>
    <div class="alinha-btn">
    <a href="{% url 'Contacts' %}">
        <div class="btn-cancelar-cadastrar">Cancelar</div></a>
    <button type="submit" name="Confirma" class="btn-cancelar-cadastrar" id="cor_input">Deletar</button>
    </div>
</form>
</div>
{% endblock %}