{% extends "base.html" %}
    {% block title %}Leads{% endblock %}

{% block content %}
    
    <div class="contatos">
        <h1>Leads</h1>
    </div>

    <div class="grandona">
        <div class="linha-titulo">
            <div class="titulo">
                <p>Nome:</p>
            </div>
            <div class="titulo">
                <p>Prioridade:</p>
            </div>
            <div class="titulo">
                <p>Valor do Projeto:</p>
            </div>
            <div class="titulo">
                <p>Telefone:</p>
            </div>
            <div class="titulo">
                <p>E-mail:</p>
            </div>
        </div>
        <hr>
        <div class="conteudo-contatos">
        {% for titulo in titulo %}
        <div class="categoria">

            <div class="informacao">
                
                <div class="nome-da-empresa">
                    <p> {{titulo.titulo}}</p>
                </div>
                
            </div>
            <div class="informacao">

                <p>{{titulo.status}}</p>

            </div>
            <div class="informacao">

                <p>R$ {{ titulo.valor_total}}</p>

            </div>
            <div class="informacao">

                <p>+55 (12) 99999-9999</p>

            </div>
            <div class="informacao">

                <p>teste@teste.com</p>
            </div>
            


            


        </div>

        <hr>
        {% endfor %}
        </div>



{% endblock %}