{% extends "base.html" %}
    {% block title %}Leads{% endblock %}

{% block content %}
<div class="direita">
        <div class="botao">
            <button class="btn-novo-lead">Novo Lead</button>
            <div class="barra">
                <hr>
            </div>
            <table class="table-responsive">
                <table class="table">
                    <div class="titulo">
                        <thead>
                            <tr>
                                <th></th>
                                <th>NOME</th>
                                <th>Contato</th>
                                <th>Prioridade</th>
                                <th>Empresa</th>
                                <th>Valor do projeto</th>
                                <th>Telefone</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 1</td>
                                <td>Lucas Prado</td>
                                <td>Alta</td>
                                <td>Apple</td>
                                <td>R$ 10.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>


                            </tr>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 2</td>
                                <td>Pedro Silva</td>
                                <td>Alta</td>
                                <td>Google</td>
                                <td>R$ 25.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 3</td>
                                <td>Paula Lima</td>
                                <td>Alta</td>
                                <td>Spotify</td>
                                <td>R$ 35.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>
                            </tr>
                        </tbody>
                    </div>
                </table>
                <table class="table-responsive">
                    <table class="table2">
                        <thead>
                            <tr>
                                <th></th>
                                <th>NOME</th>
                                <th>Contato</th>
                                <th>Prioridade</th>
                                <th>Empresa</th>
                                <th>Valor do projeto</th>
                                <th>Telefone</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 1</td>
                                <td>Lucas Prado</td>
                                <td>Alta</td>
                                <td>Apple</td>
                                <td>R$ 10.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>


                            </tr>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 2</td>
                                <td>Pedro Silva</td>
                                <td>Alta</td>
                                <td>Google</td>
                                <td>R$ 25.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 3</td>
                                <td>Paula Lima</td>
                                <td>Alta</td>
                                <td>Spotify</td>
                                <td>R$ 35.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>

                            </tr>
                        </tbody>
                    </table>
                </table>
                <table class="table-responsive">
                    <table class="table3">
                        <thead>
                            <tr>
                                <th></th>
                                <th>NOME</th>
                                <th>Contato</th>
                                <th>Prioridade</th>
                                <th>Empresa</th>
                                <th>Valor do projeto</th>
                                <th>Telefone</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 1</td>
                                <td>Lucas Prado</td>
                                <td>Alta</td>
                                <td>Apple</td>
                                <td>R$ 10.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 2</td>
                                <td>Pedro Silva</td>
                                <td>Alta</td>
                                <td>Google</td>
                                <td>R$ 25.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>Nome da oferta 3</td>
                                <td>Paula Lima</td>
                                <td>Alta</td>
                                <td>Spotify</td>
                                <td>R$ 35.000</td>
                                <td>+55 1198709867</td>
                                <td>lucasprado@gmail.com</td>

                            </tr>
                        </tbody>
                    </table>
                </table>
            </table>
        </div>
</div>



{% endblock %}