{% extends "base.html" %}
    {% block title %}Leads{% endblock %}

{% block content %}
<div class="direita">
    <hr>
    <div class="botao">
        <a href="{% url 'RegCustumer' %}">
        <div class="btn-novo-contato" >Adicionar novo lead</div>
            </a>
        <div class="barra">
            <hr>
        </div>
    </div>
    <div class="contatos">
        <h1>Leads</h1>
    </div>

    <div class="grandona">
        <div class="linha-titulo">
            <div class="titulo">
                <p>Nome</p>
            </div>
            <div class="titulo">
                <p>Prioridade</p>
            </div>
            <div class="titulo">
                <p>Empresa</p>
            </div>
            <div class="titulo">
                <p>Valor do Projeto</p>
            </div>
            <div class="titulo">
                <p>Telefone</p>
            </div>
            <div class="titulo">
                <p>E-mail</p>
            </div>
        </div>
        <hr>
        <div class="conteudo-contatos">
        <div class="categoria">

            <div class="informacao">
                {% for titulo in titulo %}
                <div class="nome-da-empresa">
                    <p> {{titulo}}</p>
                </div>
                {% endfor %}
            </div>
            <div class="informacao">

                <p>Média</p>

            </div>
            <div class="informacao">

                <p>cliente</p>

            </div>
            <div class="informacao">

                <p>R$ 1500</p>

            </div>
            <div class="informacao">

                <p>+55 (12) 99999-9999</p>

            </div>
            <div class="informacao">

                <p>teste@teste.com</p>

            </div>



            


        </div>

        <hr>
            </div>
    </div>



{% endblock %}