<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>

<div class="containerl">
    <div class="contentl">
        <div class="column-leftl">
            <h2 class="titlel title--leftl">Welcome</h2>
            <p class="descriptionl">Forget spreadsheets<br>The best way to organize</p>
        </div> <!--column-left-->
        <div class="column-rightl">
            <h2 class="titlel title-rightl title--gradientl">Login</h2>
            <form class="forml">
                <div class="hidden" style="color: red; text-align: center;" id="error">E-mail e/ou senha errado(s)</div>
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Password">
                <a href="#" class="forgot-passwordl">Forgot your password?</a>
                <a href="{% url 'index' %}"><div class="btnl" onclick="login()">Sign in</div></a>
            </form>
        </div> <!-- column-right -->
    </div>
</div>
<script src="{% static 'js/lgn.js' %}"></script>
</body>
</html>