<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>

<div class="container">

        <div class="column-left">
            <h2 class="title title--left">Welcome</h2>
            <p class="description">Forget spreadsheets<br>The best way to organize</p>
        </div> <!--column-left-->

        <div class="column-right">
            <h2 class="title title-right title--gradient">Login</h2>

            {% for message in messages %}
            <h4 style="color: red;">{{message}}</h4>
            {% endfor %}

            
            <form class="forml" action="submit" method="POST">{% csrf_token %}
                
                <input type="text" placeholder="Username" id="email" name='username' class='form-control'>
                <input type="password" placeholder="Password" id="password" name='password' class='form-control'>
                <button type="submit" class="btnl">Entrar</button>
            </form>
        </div> <!-- column-right -->
</div>
</body>
</html>