{% extends "base.html" %}
    {% block title %}Main Screen{% endblock %}
 {% load static %}
{% block content %}
        <a class="add-nova-proposta" href="{% url 'Proposta' %}">
        <div class="btn--nova-proposta"><i data-feather="folder-plus" class="menu__icon"></i>Nova Proposta</div> <!-- onclick="formularioNovaProposta()" -->
        </a>
        <div class="tabela">
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--novas-propostas" id="coluna1Title">Novas Propostas</div>
                {% for form_pip in form_pip %}
                <div class="coluna__propostas" id="novasPropostas">
                    {% if form_pip.status == "Novo" %}
                    <div class="ttle">
                    <a class="titulo-da-proposta" href="{% url 'Atualiza' form_pip.id %}"><strong>{{ form_pip.titulo }}</strong></a>
                    <a class="titulo-da-proposta" href="{% url 'Delete' form_pip.id %}">
                    <i data-feather="trash-2" class="menu__icon" style="height: 15px;"></i>
                    </a>
                    </div>
                    <p><strong>valor:</strong> {{ form_pip.valor_total }} <strong>Status:</strong> {{ form_pip.status }}
                    </p>
                    <br>
                    <hr>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--primeiro-contato" id="coluna2Title">Primeiro Contato</div>
                {% for form_pip in form_pip %}
                <div class="coluna__propostas" id="primeiroContato">
                    {% if form_pip.status == "Aberto" %}
                    <div class="ttle">
                    <a class="titulo-da-proposta" href="{% url 'Atualiza' form_pip.id %}"><strong>{{ form_pip.titulo }}</strong></a>
                    <a class="titulo-da-proposta" href="{% url 'Delete' form_pip.id %}">
                    <i data-feather="trash-2" class="menu__icon" style="height: 15px;"></i>
                    </a>
                    </div>
                    <p><strong>valor:</strong> {{ form_pip.valor_total }} <strong>Status:</strong> {{ form_pip.status }}
                    </p>
                    <br>
                    <hr>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--projeto-em-andamento" id="coluna3Title">Projeto em Andamento</div>
                {% for form_pip in form_pip %}
                <div class="coluna__propostas" id="projetoEmAndamento">
                    {% if form_pip.status == "Pendente" %}
                    <div class="ttle">
                    <a class="titulo-da-proposta" href="{% url 'Atualiza' form_pip.id %}"><strong>{{ form_pip.titulo }}</strong></a>
                    <a class="titulo-da-proposta" href="{% url 'Delete' form_pip.id %}">
                    <i data-feather="trash-2" class="menu__icon" style="height: 15px;"></i>
                    </a>
                    </div>
                    <p><strong>valor:</strong> {{ form_pip.valor_total }} <strong>Status:</strong> {{ form_pip.status }}
                    </p>
                    <br>
                    <hr>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--proposta-fechada" id="coluna4Title">Proposta Fechada</div>
                {% for form_pip in form_pip %}
                <div class="coluna__propostas" id="propostaFechada">
                    {% if form_pip.status == "Fechado" %}
                   <div class="ttle">
                    <a class="titulo-da-proposta" href="{% url 'Atualiza' form_pip.id %}"><strong>{{ form_pip.titulo }}</strong></a>
                    <a class="titulo-da-proposta" href="{% url 'Delete' form_pip.id %}">
                    <i data-feather="trash-2" class="menu__icon" style="height: 15px;"></i>
                    </a>
                    </div>
                    <p><strong>valor:</strong> {{ form_pip.valor_total }} <strong>Status:</strong> {{ form_pip.status }}
                    </p>
                    <br>
                    <hr>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

<script src="{% static 'js/main_screen.js' %}"></script>
{% endblock %}