{% extends "base.html" %}
    {% block title %}Main Screen{% endblock %}

{% block content %}
    <div class="direita">
    <div class="tab">
        <div class="blocoNovaProposta">
            <div class="tituloBloco pb">Novas Propostas</div>
            <div class="propostas" id="propostas"></div>
        </div>
        <div class="blocoPrimeiroContato">
            <div class="tituloBloco sb">Primeiro Contato</div>
            <div class="propostas" id="primeiroContato"></div>
        </div>
        <div class="blocoNovaProposta">
            <div class="tituloBloco tb">Proposta Fechada</div>
            <div class="propostas" id="propostaFechada"></div>
        </div>
        <div class="blocoNovaProposta">
            <div class="tituloBloco qb">Projeto em Andamento</div>
            <div class="propostas" id="projetoEmAndamento"></div>
        </div>
    </div>

    <div class="cadastro">
        <div class="cadastroProposta">
          <input type="text" id="nomeProposta" placeholder="Nome da proposta">
          <input type="date" id="dataProposta" placeholder="Data da proposta">
          <input type="number" id="valorProposta" placeholder="Valor da proposta">
          <button type="submit" onclick="novaProposta()">Adicionar</button>
        </div>
      </div>
    </div>
{% endblock %}