{% extends "base.html" %}
    {% block title %}Main Screen{% endblock %}
 {% load static %}
{% block content %}
    <div class="direita">
        <button class="btn--nova-proposta" onclick="formularioNovaProposta()">Nova Proposta</button>
        <div class="tabela">
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--novas-propostas">Novas Propostas</div>
                <div class="coluna__propostas" id="novasPropostas">
                    {% for pipeline in pipelines %}
                        {{ pipeline.nome }}
                    {% endfor %}
                </div>
            </div>
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--primeiro-contato">Primeiro Contato</div>
                <div class="coluna__propostas" id="primeiroContato"></div>
            </div>
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--proposta-fechada">Proposta Fechada</div>
                <div class="coluna__propostas" id="propostaFechada"></div>
            </div>
            <div class="tabela__coluna">
                <div class="coluna__titulo coluna__titulo--projeto-em-andamento">Projeto em Andamento</div>
                <div class="coluna__propostas" id="projetoEmAndamento"></div>
            </div>
        </div>
    </div>


    <!-- ESSE FORMULÁRIO APARECERÁ SOBRE A TELA AO PRESSIONAR O BOTÃO "NOVA PROPOSTA" -->

    <div class="background-formulario formulario--oculto" id="formularioNovaProposta">
        <div class="formulario__nova-proposta">
            <h1>Nova Proposta</h1>

            <form class="cliente" method="POST">

                {% csrf_token %}
                {{ form_pip.as_table }}

                <div class="formulario__nova-proposta__botoes">
                <button onclick="cancelarFormulario()">Cancelar</button>
                <button type="submit">Cadastrar</button>
                </div>
            </form>

        </div>
    </div>

<script src="{% static 'js/main_screen.js' %}"></script>
{% endblock %}