<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>33333333</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/1111111.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <div class="navbar" id="navbar">
        <div class="topnav" id="myTopnav">
            <a href="#" class="menu" id="home">
                <i data-feather="home" class="menu__icon"></i>
                <p class="menu-identify">Home</p>
            </a>
            <a href="#" class="menu" id="contacts">
                <i data-feather="users" class="menu__icon"></i>
                <p class="menu-identify">Contacts</p>
            </a>
            <a href="#" class="menu" id="dashboard">
                <i data-feather="pie-chart" class="menu__icon"></i>
                <p class="menu-identify">Dashboard</p>
            </a>
            <a href="#" class="menu" id="registration">
                <i data-feather="user-plus" class="menu__icon"></i>
                <p class="menu-identify" class="menu__icon">Registration</p>
            </a>
            <a href="#" class="menu" id="registration">
                <i data-feather="book-open" class="menu__icon"></i>
                <p <a href="javascript:void(0);" class="icon" onclick="navbar()">
                    <i data-feather="menu"></i>
            </a>
        </div>
    </div> <!-- navbar-->

    <div class="direita">

        <h1> Preencha os Dados</h1>
        <div class="botoes">
            <button>Funcionário</button>
            <button>Cliente</button>
        </div>
        <form action="" class="formulario">
            <input type="text" placeholder="Nome">
            <input type="text" name="" id="" placeholder="E-mail">
            <input type="password" placeholder="Senha">
            <input type="number" placeholder="CPF">
            <div>
                <input type="radio">Sales
                <input type="radio">Diretoria
                <input type="radio">Administração
                
            </div>
            <button type="submit">Cadastrar</button>
        </form>

    </div>



    <script>
        feather.replace()
    </script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/main_screen.js"></script>
</body>

</html>