<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Screen</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/main-screen.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <div class="navbar" id="navbar">
        <div class="topnav" id="myTopnav">
            <a href="#" class="menu" id="home">
                <i data-feather="home" class="menu__icon"></i>
                <p class="menu-identify">Home</p>
            </a>
            <a href="#" class="menu" id="contacts">
                <i data-feather="users" class="menu__icon"></i>
                <p class="menu-identify">Contacts</p>
            </a>
            <a href="#" class="menu" id="dashboard">
                <i data-feather="pie-chart" class="menu__icon"></i>
                <p class="menu-identify">Dashboard</p>
            </a>
            <a href="#" class="menu" id="registration">
                <i data-feather="user-plus" class="menu__icon"></i>
                <p class="menu-identify" class="menu__icon">Registration</p>
            </a>
            <a href="javascript:void(0);" class="icon" onclick="navbar()">
                <i data-feather="menu"></i>
            </a>
        </div>
    </div> <!-- navbar-->

    <div class="direita">
        <img src="../static/img/graficos.png" alt="">
    </div>
    

    <script>
        feather.replace()
    </script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/main_screen.js"></script>
</body>

</html>