<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/contatos.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <div class="container">
        <div class="topnav" id="myTopnav">
            <a href="#" class="menu">
                <i data-feather="home"></i>
                <p class="menu-identify">Home</p>
            </a>
            <a href="#" class="active menu">
                <i data-feather="users"></i>
                <p class="menu-identify">Contacts</p>
            </a>
            <a href="#" class="menu">
                <i data-feather="pie-chart"></i>
                <p class="menu-identify">Dashboard</p>
            </a>
            <a href="#" class="menu">
                <i data-feather="user-plus"></i>
                <p class="menu-identify">Registration</p>
            </a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i data-feather="menu"></i>
            </a>
        </div>
    </div>

    <div class="direita">
        <hr>
        <div class="botao">
            <button class="btn-novo-contato">Adicionar novo contato</button>
        
        </div>
        <div class="contatos">
            <h1>contatos</h1>
        </div>
        <div class="grandona">
            <div class="linha-titulo">
                <div class="titulo">
                    <h2>Cliente</h2>
                </div>
                <div class="titulo">
                    <h2>Projeto</h2>
                </div>
                <div class="titulo">
                    <h2>Prioridade</h2>
                </div>
                <div class="titulo">
                    <h2>Meio de contato</h2>
                </div>
            </div>
            <hr>
            <div class="categoria">
                <div class="informacao">
                    <p>Nome da empresa</p>
                    <p>Contato</p>
                </div>
                <div class="informacao">

                    <p>Nome</p>

                </div>
                <div class="informacao">

                    <p>Alta</p>

                </div>
                <div class="informacao">
                    <p>E-mail</p>
                    <p>Telefone</p>

                </div>
            </div>
            <hr>
        </div>

    </div>







    <script>
        feather.replace()
    </script>
    <script src="../static/js/navbar.js"></script>
</body>

</html>