
.linha-titulo{
    display: flex;
    justify-content: space-around;
    color: #3C3C3C;
    
}
.grandona{
    width: 100%;
    height: 90vh;
    border: solid 1px;
    border-radius: 20px;
    color: #3C3C3C;
    padding-left: 10px;
    padding-right: 10px;

    

}
.categoria{
    font-size: 15px;
    font-weight: 500;
    color: #3C3C3C;
    display: flex;
    justify-content: space-around;
    font-family: Arial;
}
.nome-da-empresa{
    font-weight: 550;
}
.informacao{
   
    width: 200px;
    height: 50px;
    margin-top: 10px;
}
.titulo{
    width: 200px;
    color: #3C3C3C;
    height: 25px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 550;
    
}
.contatos{
    width: 85%;
    font-size: 20px;
    color: #3C3C3C;
    font-weight: 10px;
    font-family: arial;
    


}
.botao{
    width: 90%;
    margin-top: 20px;
}
.btn-novo-contato{
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    background: linear-gradient(135deg, #568BDA, #4FE1AD);
    border: 1px solid ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
a{
text-decoration: none;
}
.barra{
    margin-top: 25px;
    
}
.conteudo-contatos{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 460px;
}

@media screen and (max-width: 600px){

    .grandona{
        min-width: max-content;
        margin-left: 650px;

    }
    .linha-titulo{
        justify-content: space-between;
        margin-bottom: 20px;        
    }

   .informacao{
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
    }
    
    .nome-da-empresa{
        display: flex;
    }


} 
