.direita-div{
    display:flex;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 50%;
}

.grafico{
    width: 20%;
}
.d-titulo{
    font-size: 30px;
    margin-right: 60px; 
}
.d-total{
    font-size: 50px;
    margin-right: 60px;
}

h2{
    margin-right: 60px;
}

@media screen and (max-width: 600px){
   
    .direita-div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .grafico{
        width: 100%;
    }
    .info{
        width: 100%;
        height: min-content;
    }
}