.direita-superior{
    display:flex;
    background: greenyellow;
}

.grafico{
    width: 20%;
}
.d-titulo{
    font-size: 30px;
    margin-right: 60px; 
}
.d-total{
    font-size: 50px;
    margin-right: 60px;
}

h2{
    margin-right: 60px;
}

@media screen and (max-width: 600px){
   
    .direita--superior{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .superior--leads{  
        width: 100%;
        margin-top: 500px;   
    }
    .grafico{
        width: 100%;
    }
    .direita--inferior{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 500px;
    }
    .inferior--leads{   
        width: 100%;
        margin-top: 500px;
    }   
    
}