
.direita--superior{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.direita--inferior{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grafico{
    width: 30%;
    margin-right: 110px;
}
.superior--leads{
    text-align: center;
}
.inferior--leads{
    text-align: center;
}
.d-titulo{
    font-size: 30px;
    margin-right: 60px; 
}
.d-total{
    font-size: 50px;
    margin-right: 60px;
}

h2{
    margin-right: 60px;
}

@media screen and (max-width: 600px){
   
    .direita--superior{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .superior--leads{  
        width: 100%;
        margin-top: 500px;   
    }
    .grafico{
        width: 100%;
    }
    .direita--inferior{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 500px;
    }
    .inferior--leads{   
        width: 100%;
        margin-top: 500px;
    }   
    
 