*::-webkit-scrollbar {
    width: 0px;
  }

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    display: flex;
}
.direita{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 50px 50px 50px;
}

@media screen and (max-width: 600px){
    .direita{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
    .direita a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}