.deleta{
width: 100%;
display: flex;
align-items: center;
justify-content:center;
text-align: center;
}
.btn-cancelar-cadastrar{
border-radius: 5px;
background:#d60f0f;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
color: white;
padding: 12px;
cursor: pointer;
font-weight: bold;
font-size: 20px;
}

.alinha-btn{
display: flex;
flex-direction: column-reverse;
justify-content: space-around;
margin-top: 50px;
}


#cor_input{
background: #4FE1AD;
margin-bottom: 20px;
display: flex;
align-items: flex-start;
justify-content: center;
border-radius: 5px;
padding: 12px;
}