*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tab{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}



.direita .cadastro{
    justify-content: flex-end;
}

.btn-novo-lead{
    position:absolute;
    font-size: 15px;
    width: 150px;
    background: #48C1BC;
    margin-top: 30px;
    left: 115px;
    color: #000000;
}

.table{
    height: 80px;
    position: absolute;
    width: 1450px;
    height: 168px;
    left: 50px;
    top: 107px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(60, 60, 60, 0.7);
    justify-items: baseline;
    padding: 15px;


}

.table2{
    height: 80px;
    position: absolute;
    width: 1450px;
    height: 168px;
    left: 50px;
    top: 307px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(60, 60, 60, 0.7);
    justify-items: baseline;
    padding: 15px;
}

.table3{
    height: 80px;
    position: absolute;
    width: 1450px;
    height: 168px;
    left: 50px;
    top: 507px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(60, 60, 60, 0.7);
    justify-items: baseline;
    padding: 15px;

}