@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7eceb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.title{
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.title--left{
    color: #fff;
}

.description{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
}

.column-left{
    background: linear-gradient(#4fe1ad, #568bda);
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}

.column-right{
    background: white;
    height: 100%;
    width: 50%;
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.btnl{
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    background: linear-gradient(135deg, #568BDA, #4FE1AD);
    border: 1px solid;
}

.btnl:hover{
    background: transparent;
    color: #58af9b;
}

.forml input{
    height: 45px;
    border: none;
    background: #ecf0f1;
    margin: 8px;
    padding-left: 10px;
}

.title--gradient {
    background-image: linear-gradient(to bottom, #4FE1AD, #568BDA);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* Adicionado: */
    -webkit-text-fill-color: transparent;
  }

.hidden{
    display: none;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px){
    body{
        padding: 0px;
    }
    .container{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .column-left{
        height: 30%;
        width: 100%;
        border-radius: 0;
    }
    .column-right{
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }

}