@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Add a black background color to the top navigation */
.topnav {
    background: linear-gradient(#568BDA, #48C1BC);
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 100vh;
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  a.active {
    background-color: rgb(17, 73, 136);
    color: #fff;
  }

  a.menu .menu-identify{
    display: none;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: flex-start;
      height: min-content;
      width: 100%;
      overflow: scroll;
    }
    .topnav::-webkit-scrollbar {
      height: 0px;
    }
  }