.btn--cancelar{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    background: #d60f0f;
    border: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cadastrar{
    background: #4FE1AD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.botoes--cancelar-cadastrar{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

#id_descricao{
height: 500px;
padding-bottom: 90px;
}

@media screen and (max-width: 600px){
    .form{
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .cliente input{
        width: 100%;
    }
    .cliente label{
        width: 100%;
    }
}