.right{
width:100%;
height:100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.up{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}
.button{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background: rgba(79, 225, 174, 0.26);
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    color: rgba(16, 105, 74, 0.685);
    border: solid 5px rgba(16, 105, 74, 0.685);
}

.button--left{
margin-right: 0;
}

.button:hover{
    transition-duration: 1s;
    background: rgb(79,225,173, 0.4);
    width: 310px;
    height: 310px;
    color: rgb(16, 105, 74);
    border: solid 5px rgb(16, 105, 74);
}

@media screen and (max-width:600px){
    .right{
        width:100%;
        height: calc(100vh - 96px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .up{
        height: min-content;
    }
    .button{
        width: 100%;
        height: 50%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 40px;
        }
}