<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/customer_registration.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <div class="container" style="display: flex;">
        <div class="topnav" id="myTopnav">
            <a href="#" class="menu">
                <i data-feather="home"></i>
                <p class="menu-identify">Home</p>
            </a>
            <a href="#" class="menu">
                <i data-feather="users"></i>
                <p class="menu-identify">Contacts</p>
            </a>
            <a href="#" class="menu">
                <i data-feather="pie-chart"></i>
                <p class="menu-identify">Dashboard</p>
            </a>
            <a href="#" class="active menu">
                <i data-feather="user-plus"></i>
                <p class="menu-identify">Registration</p>
            </a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i data-feather="menu"></i>
            </a>
        </div>
        <div class="form">
            <div class="form-btn">
                
            </div>

            <form class="cliente">
                <div class="btns">
                    <button class="btn active">Client</button>
                    <button class="btn">Employee</button>
                </div>
                <input type="name" placeholder="Company Name">
                <input type="name" placeholder="Representative Name">
                <input type="email" placeholder="E-mail">
                <input type="tel" placeholder="Phone">
                <input type="url" placeholder="Company Website">
                <button>Register</button>
            </form>

        </div>
    </div>
    <script>
        feather.replace()
    </script>
    <script src="../static/js/navbar.js"></script>
</body>

</html>