<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Screen</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/main-screen.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <div class="container">
        <div class="topnav" id="myTopnav">
            <a href="#" class="active menu">
                <i data-feather="home"></i>
                <p class="menu-identify">Home</p>
            </a>
            <a href="#" class="menu">
                <i data-feather="users"></i>
                <p class="menu-identify">Contacts</p>
            </a>
            <a href="#" class="menu">
                <i data-feather="pie-chart"></i>
                <p class="menu-identify">Dashboard</p>
            </a>
            <a href="#" class="menu">
                <i data-feather="user-plus"></i>
                <p class="menu-identify">Registration</p>
            </a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i data-feather="menu"></i>
            </a>
        </div>
    </div>
    <div class="direita">
    <div class="tab">
        <div class="blocoNovaProposta">
            <div class="tituloBloco pb">Novas Propostas</div>
            <div class="propostas" id="propostas"></div>
        </div>
        <div class="blocoPrimeiroContato">
            <div class="tituloBloco sb">Primeiro Contato</div>
            <div class="propostas" id="primeiroContato"></div>
        </div>
        <div class="blocoNovaProposta">
            <div class="tituloBloco tb">Contato Feito</div>
            <div class="propostas" id="contatoFeito"></div>
        </div>
        <div class="blocoNovaProposta">
            <div class="tituloBloco qb">Finalizado</div>
            <div class="propostas" id="finalizado"></div>
        </div>
    </div>

    <div class="cadastro">
        <div class="cadastroProposta">
          <input type="text" id="nomeProposta" placeholder="Nome da proposta">
          <input type="date" id="dataProposta" placeholder="Data da proposta">
          <input type="number" id="valorProposta" placeholder="Valor da proposta">
          <button type="submit" onclick="novaProposta()">Adicionar</button>
        </div>
      </div>
    </div>
    <script>
        feather.replace()
    </script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/main_screen.js"></script>
</body>

</html>